* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  font-size: 1.2rem;
}

form,
input,
button {
  font: inherit;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
  background: whitesmoke;
  border-radius: 2rem;
}

h1 {
  text-align: center;
  background: steelblue;
  color: whitesmoke;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

h2 {
  margin-top: 3rem;
}

form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input {
  line-height: 2rem;
  border-radius: 5px;
  border: 1px dodgerblue dashed;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: dodgerblue;
  color: whitesmoke;
  border: none;
}

button.large {
  font-size: 1.5rem;
}

button.delete {
  background: red;
  opacity: 0.7;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button.delete:hover {
  opacity: 1;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  margin: 10px 0;
}

li * {
  margin-right: 10px;
  /* padding: 0 10px; */
}

li:has(input:checked) label {
  text-decoration: line-through;
  color: grey;
}